
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #4074c6;
    color: rgb(47, 75, 188);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 15px;
}
.escola-imagem{
    width: 40%;
}

.escola{
    background-image: linear-gradient(#1f51c4,#0c3cb4);
    color:rgb(21, 40, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.escola-div-conteudo{
    width: 40%;
}
.escola-titulo{
    padding: 15px 0;
}